.btn-group button {
    background-color: black; /* black background */
    border: 1px solid black(128, 0, 0); /* black border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #71722b;
  }
  heading {
    font-size: 50px;
    font-style: italic;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  #btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }